<div id="header">
    <h1><img src="pfp.png" style="height:1em;">Hi, I'm Dirt</h1>
    <p>Aka: Viimproved/Viiimproved, Eemowjee, PenisBoy32, DirtXD, and DirtFr, but usually cupofdirtfordinner</p>
</div>
<div id="socialgrid">
    <div>
        <a href="https://cupofdirtfordinner.newgrounds.com">
            <img src="ng.png">
            <p>Newgrounds</p>
        </a>
    </div>
    <div>
        <a href="https://cupofdirtfordinner.tumblr.com">
            <img src="tumblr.png">
            <p>Tumblr</p>
        </a>
    </div>
    <div>
        <a href="https://github.com/cupofdirtfordinner/">
            <img src="github.png">
            <p>Github</p>
        </a>
    </div>
    <div>
        <a href="https://steamcommunity.com/id/how-do-i-change-my-custom-url/">
            <img src="steam.png">
            <p>Steam</p>
        </a>
    </div>
    <div>
        <a href="https://youtube.com/cupofdirtfordinner/">
            <img src="youtube.png">
            <p>YouTube</p>
        </a>
    </div>
    <div>
        <a href="https://www.tiktok.com/@cupofdirtfordinner">
            <img src="titkok.png">
            <p>TitKok</p>
        </a>
    </div>
</div>
<br>
<div id="extraSocials">
    <span>Discord: @cupofdirtfordinner<span style="font-size: 20px">(formerly dirt#0953)</span><span style="font-size: 14px"> \\this is the best place to reach me!</span></span> <span>Pretendo Network ID (PNID): cupofdirtfordinr</span> <span>Roblox: cupofdirtfordinner</span> <span>Minecraft: eatdirtfordinner / viimproved <span style="font-size: 20px">(formerly Wikifeet)</span></span>
</div>
<br> <br>